{% extends '::base.html.twig' %}

{% block title %}Orakulas{% endblock %}

{% block specificJS %}
    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/libs/jquery-1.7.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/libs/canvg.min.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="loading">
        <p></p>
    </div>

{% endblock %}