{% extends '::base.html.twig' %}

{% block title %}Orakulas{% endblock %}

{% block specificJS %}
    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="loading">
        <p>Kraunasi&hellip;</p>
    </div>

{% endblock %}