{% extends '::base.html.twig' %}

{% block title %}Prisijungimas prie sistemos{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('check_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" /><br />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" /><br />

        <input type="submit" name="login" />
    </form>

{% endblock %}